/* Animation Keyframes */

@keyframes scale_header {
    0% {
        max-height: 0;
        margin-bottom: 0;
        opacity: 0;
    }
    100% {
        max-height: 117px;
        margin-bottom: 25px;
        opacity: 1;
    }
}

@keyframes input_opacity {
    0% {
        transform: translateY(-10px);
        opacity: 0
    }
    100% {
        transform: translateY(0px);
        opacity: 1
    }
}

@keyframes text_opacity {
    0% {
        color: transparent;
    }
}

@keyframes error_before {
    0% {
        height: 5px;
        background: rgba(0, 0, 0, 0.156);
        color: transparent;
    }
    10% {
        height: 117px;
        background: #FFFFFF;
        color: #C62828
    }
    90% {
        height: 117px;
        background: #FFFFFF;
        color: #C62828
    }
    100% {
        height: 5px;
        background: rgba(0, 0, 0, 0.156);
        color: transparent;
    }
}

/* Login Form */

.body {
    background-color: #8BB6E3;
}

.logposition {
    position: absolute;
    top: 2%;
    left: 30%;
    right: -30%;
    margin: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: auto;
    padding: 50px;
    box-sizing: border-box;
}

.login-container img {
    width: 200px;
    margin: 0 0 20px 0;
}

.login-container p {
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
}

.login-container p a {
    color: rgba(0, 0, 0, 0.4);
}

.login {
    position: relative;
    padding: 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
    box-sizing: border-box;
    background: #FAFAFA;
    animation: input_opacity 0.2s cubic-bezier(.55, 0, .1, 1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login > header {
    position: relative;
    padding: 0 30px 0 30px;
    overflow: hidden;
    margin: -10px -10px 25px -10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background: #0a3254;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #FAFAFA;
    animation: scale_header 0.6s cubic-bezier(.55, 0, .1, 1), text_opacity 1s cubic-bezier(.55, 0, .1, 1);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login.error_1 > header:before,
.login.error_2 > header:before {
    animation: error_before 3s cubic-bezier(.55, 0, .1, 1);
}

.login.error_1 > header:before {
    content: 'Invalid username or password!';
}

.login.error_2 > header:before {
    content: 'Invalid or expired Token!';
}

.login > header h2 {
    margin: 50px 0 10px 0;
}

.login > header h4 {
    font-size: 0.7em;
    animation: text_opacity 1.5s cubic-bezier(.55, 0, .1, 1);
    color: white;
}

/* Form */

.login-form {
    padding: 15px;
    box-sizing: border-box;
}

/* Inputs */

.login-input {
    position: relative;
    width: 100%;
    padding: 10px 50px;
    margin: 0 0 25px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
}

.input-pad {
    padding-top: 30px;
}

.login-input:focus {
    outline: none;
    border-bottom: 2px solid #18aee0;
}

/* Submit Button */

.submit-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding: 10px;
    margin: 35px -25px -25px -25px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #D0D6DA;

}

a {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}