.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin: auto;
    display: none;
    z-index: 1;
    width: 60%;
    overflow: auto;
    border: 1px solid #0a3254;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', serif;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-mainpage {
    position: fixed;
    top: 10%;
    margin: auto;
    display: none;
    z-index: 1;
    width: 60%;
    overflow: auto;
    border: 1px solid #0a3254;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Open Sans', serif;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    position: relative;
    bottom: 0;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 15px;
    bottom: 15px;
}

.close:hover,
.close:focus {
    color: #f22929;
    text-decoration: none;
    cursor: default;
}

.modal-header {
    padding: 1px 30px 1px 30px;
    background-color: #0a3254;
    color: white;
}

.modal-body {
    padding: 10px 20px 20px 20px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #0a3254;
    color: white;
}

select {
    width: 100%;
    margin: 0 0 25px 0;
    position: relative;
    padding: 10px 5px;
    border: none;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
    font-weight: 500;
    animation: select_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
    font-size: 1em;
    font-family: 'Roboto', 'sans-serif';
}

select:focus {
    outline: none;
    border-bottom: 2px solid #18aee0;
}