.wrapper {
    overflow-x: hidden;
    position: relative;
    min-height: 800px;
    left: 22%;
    width: 78%;
}



.side-nav {
    border-right: 1px solid #34495e;
    box-shadow: 6px 0 20px 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav ul a {
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

.side-nav ul a:hover {
    color: white;
    font-weight: bold;
}


.nav-open .side-nav {
    left: 0;
}

.wrapper,
.side-nav {
    transition: left 0.4s cubic-bezier(.55, 0, .1, 1);
}